        
        <div class = "video"> 
          <video class = "video-container" controls muted autoplay loop>
            <source src = "./assets/DogVideo.mp4" type = "video/mp4">
        </video>  
        <img src = "./assets/FureverHomeLogo.png" alt = "Furever Home Logo"> </div>  
<div class="container">
    <div class="row" id="paragraph">
        <div class="titleHeader">
            <h1><i class="fas fa-paw"></i> Searching for a new furry friend?</h1>
            <p>Check out <a href="/animals">OUR ANIMALS</a> link to find your new best friend!</p>
        </div>
        <br>
        <br>
        <div class="titleHeader">
            <h1><i class="fas fa-paw"></i> Searching for a specific pet? </h1>
            <p>Use the <a href="/search">SEARCH</a> link to browse our animals</p>
        </div>
        <br>
        <br>
        <div class="titleHeader">
            <h1><i class="fas fa-paw"></i> Need help with your litter?</h1>
            <p>You can <a href="/post">POST</a> your animal that you would like to offer up for adoption!</p>
        </div>
        <br>
        <br>
        <div class="titleHeader">
            <h1><i class="fas fa-paw"></i> Do you have a pet you can no longer care for?</h1>
            <p>You can <a href="/post">POST</a> your animal that you would like to offer up for adoption!</p>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row" id="paragraph">
        <div class="titleHeader" id="ourStory">
            <h1><i class="fas fa-paw"></i> Our Story</h1>
            <p>Founded in 2021, Furever Home was formed to help connect families to pets in need of a loving home.
                We also help people with finding a home for a new litter, or for a pet they can no longer
                care for.
                <br>
                <br>

                At Furever Home, our goal is for every animal to find a forever home!
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <footer class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <h3>&#169; 2021 Created by Mark Peterson, Brittany Lee, Agustin Martinez and Anthony Martinez</h3>
        </div>
    </footer>
</div>