<div class="container ">
    <div class="row">
        <form class="petSearch-form">
            <div class="card">
                <div class="card-header bg-dark">
                    <h3><i class="fas fa-paw"></i> Post your pet</h3>
                </div>
                

                    <div>
                        <span>Pet Name</span>
                        <input name="petName" type="location" id="petName" />
                    </div>
                    <div>
                        <span>Pet Breed</span>
                        <input name="petBreed" type="location" id="petBreed" />
                    </div>
                    {{!-- <label for="petType">Choose a Pet Type</label>
                    <select name "petType" id="petType">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select> --}}

                    {{!-- <label for="petGender">Choose a Gender</label>
                    <select name "petGender" id="petGender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select> --}}

                    <div>
                        <p>Gender</p>
                        <input name="petGender" type="location" id="petGender" />
                    </div>


                    <div>
                        <p>Age</p>
                        <input name="petAge" type="location" id="petAge" />
                    </div>

                    {{!-- <label for="petAge">Choose an Age</label> --}}
                    {{!-- <select name "petAge" id="petAge">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select> --}}
                

                <div>
                    <p>Tell us about your pet!</p>
                    <textarea name="petDescription" id="petDescription"></textarea>
                </div>

                <form action="/action_page.php">
                    <label for="img">Upload an image</label>
                    <input type="file" id="fileUpload" name="img" accept="image/*">
                </form>
                <div>
                    <button class="btn btn-secondary" type="submit"><i class="fas fa-paw"></i> POST!</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/post.js"></script>