
<div class="container" id="logoContainer">
    <div class="row">
        <img src="./assets/FureverHomeLogo.png" style="width:100%" alt="Furever Home Logo">
    </div>
    {{!-- <div class="row" id="currentRoster">
        <h1>OUR CURRENT ROSTER</h1>
    </div> --}}
<div class="container ">
    <div class="row">
        <form class="petSearch-form">
            <div class="card">
                <div class="card-header bg-dark">
                    <h3><i class="fas fa-paw"></i> Search</h3>
                </div>
                <form>
                    <label for="petType">Choose a Pet Type</label>
                    <select name "petType" id="pets">
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>

                    <div>
                        <span>Pet Breed</span>
                        <input type="location" id="petBreed" />
                    </div>

                    <label for="petGender">Choose a Gender</label>
                    <select name "petGender" id="pets">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>


                    <label for="petAge">Choose an Age</label>
                    <select name "petAge" id="pets">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
                </form>

                <div>
                    <button class="btn btn-secondary" type="submit"><i class="fas fa-paw"></i> SEARCH!</button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>