<div class="container" id="logoContainer">
    <div class="row">
        <img src="./assets/FureverHomeLogo.png" style="width:100%" alt="Furever Home Logo">
    </div>
<div class="container ">
        <div class="row">
            <form class="signup-form">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h3><i class="fas fa-paw"></i> Sign Up</h3>
                    </div>
                    <div class="card-body">
                        <span>name</span>
                        <div>
                            <input type="text" id="username-signup" />
                        </div>
                        <span>email</span>
                        <div>
                            <input type="text" id="email-signup" />
                        </div>
                        <span>password</span>
                        <div>
                            <input type="password" id="password-signup" />
                        </div>
                        <div>
                            <button class="btn btn-secondary" type="submit">SIGN UP!</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/javascript/signup.js"></script>
    